# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.nyc_output/

# production
/build

# environment
.env
.env*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db

# tooling
.eslintcache

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# other package managers (optional)
.yarn/
